body{
    font-family: Arial, sans-serif;
    margin: 40px;
    color:antiquewhite;
}
.header{
    text-align: center;
    margin-bottom: 20px;
}
.header h1{
    margin: 0;
    color: black;
}
.contact{
    margin-top: 5px;
    font-size: 14px;
}
hr {
    border: 0;
    border-top: 2px solid #2c3e50;
    margin: 10px 0 20px 0;
}

.section {
    display: flex;
    margin-bottom: 20px;
}

.section-title {
    width: 25%;
    font-weight: bold;
    color: #2c3e50;
}

.section-content {
    width: 75%;
}

ul {
    margin-top: 5px;
    padding-left: 20px;
}


