
body{
    background: seagreen;
    font-family:Ariall, Helvetica, sans-serif;
}
h1 {
color: coral;
text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
} /* condensed to save space */

projects h2{
    width: 100%;
}
.project {
    /*form blob section*/
width: 30%;
margin: 10px;
padding: 20px 10px;
background: blueviolet; 
border-radius: 25%;
}

.project h3{
    margin-left: 50px;
}
.project img{
width: 300px;
height: 300px;
margin: 10px auto;
border: 2px solid navajowhite; 
display: block;
text-align: center;
}

.project p {
    text-align: center;
    margin: 15px;
}